.left {
  text-align: left;
  float: left;
  width: 3vw;
}

.right {
  float: right;
  text-align: right;
  width: 1vw;
}

.centered {
  text-align: center;
  width: 3vw;
}

.input {
  height: 7px;
  width: 35px;
  margin: 18px 10px 10px 10px;
  vertical-align: center;
  position: sticky;
  font-size: 10px
}

.footer {
  height: 5vw;
  width: 35vw;
  margin: 1em 1% 1em;
  align-items: right;
}

.btnsizing {
  font-style: "helvetica neue";
  color: #FFFFF0;
  background-color: #F56358;
  font-size: 12px;
  text-align: justify;
  margin: 20px 10px 10px 10px;
  font-weight: bold;
  line-height: 5px;
  border-style: double;
  position: sticky;
  bottom: 0;
}

.note {
  color: #FFFFF0;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.2;
  position: sticky;
  margin: 5px 2px 10px 2px;
  font-weight: bold;
  overflow-x: visible;
}
