@media (max-width: 768px), (max-device-width: 640px), (max-device-width: 667px), (max-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) and (min-device-width: 768px) .job-list {
  list-style: none;
  padding: 0;
  margin: 1em 1em 1em;
  margin-top: 1em;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1
}

.body{
  font-family: 'Roboto','helvetica neue', sans-serif;
}

.all{
  background-color: #ffffff;
}

.div{
  justify-content: inherit;
}

.inline {
    grid-template-columns: 100%;
    display: grid;
    justify-content: start;
    vertical-align: top;
    align: top;
  }

.filters{
  padding: 15px 20px 15px;
  display: block;
  background-color: #f2f3f3;
}

.header{
  font-size: .7em;
}

.div{
      justify-content: none;
}


.job-list{
  background-color: #FFFFFF;
}

.topper {
  display: grid;
  grid-template-columns: 40px 90%;
  justify-content: initial;
}

.item {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  padding: 15px;
}

.company-picture {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 1em;
  vertical-align: middle;
}

.company-n-title {
  margin-left: 10px;
  vertical-align: top;
  display: block;
  color: black;
}

.image-container{
  justify-content: initial;
}

.companyName {
  margin-right: .5em;
  margin: 5px auto 0px;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

.jobTitle {
  font-weight: normal;
  font-size: .7em;
  font-weight: bold;
  color: #555555;
}

.jobLocation {
  font-size: .7em;
  color: #555555;
  line-height: 1.6;
  display: block;
  margin-bottom: 5px;
}

.fineTime {
  grid-template-columns: 1fr 1fr;
}

p.jobTitle {
    display: contents;
    font-size: .9em;
    font-weight: bold;
}

.tagger {
  font-size: .5em;
  background: #efefef;
  color: #333333;
  padding: 4px 10px;
  line-height: 1.6;
  display: block;
  margin: 5px 0 10px 0;
  width: fit-content;
}

.contain {
  display: block;
  grid-template-columns: 1fr 1fr 1fr;
}

.time {
  text-align: right;
  font-size: 12px;
  color: #218DA6;
}

#apply-appear {
  display: none;
  font-size: .7em;
  padding: 4px 10px;
  position: absolute;
  margin-left: 75%;
  margin-top: 3%;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

#some-div:hover #apply-appear {
  display: block;
  transition: .8s;

}

#some-div {
  text-decoration: none !important;
}

#hov:hover {
  background-color: #BAF2E8;
  transition: .8s;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
