
.header {
  font-size: 2em;
  display: block;
  text-align: center;
  font-family: helvetica;
  font-style: sans-serif;
  color: black;
  background-image: linear-gradient(-90deg, lightblue, white);
  border-radius: 15px;
}
